Plant_3_Temp_Humid/temphumid.json
[{"id":"a1e6ad0d.7ee19","type":"tab","label":"Plant 3","disabled":false,"info":""},{"id":"8cba02a3.d2a46","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10f492a9.6469fd","type":"ui_tab","z":"","name":"Home","icon":"fa-thermometer-three-quarters","disabled":false,"hidden":false},{"id":"c638fd8c.c9be5","type":"ui_group","z":"","name":"Temperature and Humidity","tab":"10f492a9.6469fd","disp":true,"width":"6","collapse":false},{"id":"95c7680.2aa3198","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Broan","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65450829.7e9608","type":"alexa-home-conf","z":"","username":"peterdiamond"},{"id":"557d7244.ffd73c","type":"mqtt in","z":"a1e6ad0d.7ee19","name":"IoTRaspberryPi","topic":"plant3/#","qos":"2","broker":"8cba02a3.d2a46","x":275,"y":284,"wires":[["35924032.b7c4f"]]},{"id":"35924032.b7c4f","type":"switch","z":"a1e6ad0d.7ee19","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"plant3/temp","vt":"str"},{"t":"eq","v":"plant3/humid","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":495,"y":288,"wires":[["ba277e1b.77336","9fd3fb20.e57cf8","7cada176.508c"],["eef01dc3.c86de","9fd3fb20.e57cf8"]]},{"id":"ba277e1b.77336","type":"ui_text","z":"a1e6ad0d.7ee19","group":"c638fd8c.c9be5","order":1,"width":0,"height":0,"name":"Temp","label":"Temperature","format":"{{msg.payload}} °F","layout":"row-spread","x":700,"y":209,"wires":[]},{"id":"eef01dc3.c86de","type":"ui_text","z":"a1e6ad0d.7ee19","group":"c638fd8c.c9be5","order":2,"width":0,"height":0,"name":"Humidity","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":703,"y":342,"wires":[]},{"id":"9fd3fb20.e57cf8","type":"ui_chart","z":"a1e6ad0d.7ee19","name":"Data","group":"c638fd8c.c9be5","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":739,"y":288,"wires":[[]]},{"id":"9504f216.373a2","type":"alexa-home","z":"a1e6ad0d.7ee19","conf":"65450829.7e9608","device":"54043","acknoledge":true,"name":"Plant 3 Lab","topic":"","x":244,"y":525,"wires":[["718ff5f3.eb4b2c"]]},{"id":"7cada176.508c","type":"change","z":"a1e6ad0d.7ee19","name":"number change","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":447,"y":452,"wires":[["718ff5f3.eb4b2c"]]},{"id":"718ff5f3.eb4b2c","type":"function","z":"a1e6ad0d.7ee19","name":"Alexa Response","func":"var temp;\n\nif(msg.topic == \"plant3/temp\")\n{\n    temp = msg.payload;\n    temp = (temp -32)*(5/9);\n    flow.set(\"temp\",temp);\n}\n\nif(msg.command == 'GetTemperatureReadingRequest')\n{\n    msg.extra = {\n    \"temperatureReading\": {\n        \"value\": flow.get(\"temp\")\n    },\n    \"applianceResponseTimestamp\": new Date().toISOString()\n};\nmsg.payload = true;\nreturn msg; \n}\n","outputs":1,"noerr":0,"x":718,"y":503,"wires":[["878b608b.0fd8a"]]},{"id":"878b608b.0fd8a","type":"alexa-home-resp","z":"a1e6ad0d.7ee19","x":934,"y":556,"wires":[]}]